    <script>
    </script>     
       
        
        <div class="row">
            <div class='col-xs-3'> </div>
            <div class='col-xs-6 loadText'>
                <h2>
                    App Name is finding a match for you {{username}}...
                </h2>
            </div>
            <div class='col-xs-3'> </div>
        </div>

      
       <div class="row">
            <div class='col-xs-3'> </div>
            <div class='col-xs-6'>
                <img class='loader' src="images/loader.gif" alt="">
            </div>
            <div class='col-xs-3'> </div>
       </div>




