<div class="row">
    <div class='col-xs-12 loadText'>
        <h2 class='welcome'>
            Hello {{ name }}!
        </h2>
        <p>
            App Name lets you chat with random strangers. Please be nice. 
            
        </p>
    </div>
</div>


<div class="row registerform">
    <div class='col-xs-8 register'>
        <input type="text" placeholder='Your name' my-enter="enter()" ng-model='name' autofocus="autofocus" maxlength="30">
    </div>
</div>
<div class="row registerform">
    <div class='col-xs-5 register'>
        <input type="text" ng-model='captchaCode' disabled>
        <input type="submit" value='Refresh' ng-click='refreshCaptch()' >
        <input type="text" placeholder='Captcha Code' ng-model='enterCaptchaCode'>
    </div>
</div>
<div class="row registerform">
    <div class='col-xs-4 register'>
        <input type="submit" value='Enter' ng-click='enter()' >
    </div>
</div>